.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(252, 43, 43, 0.329);
}

h1{
    font-size: 20px;
    margin-top: 20px;
    color: crimson;
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 8px;
    width: 200px;
    gap: 20px;
    background-color: white;
}

input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

button{
    padding: 10px;
    border: none;
    background-color: crimson;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

a{
    text-align: center;
    font-size: smaller;
}

p{
    font-size: smaller;
    color: red;
    text-align: center;
}

span{
    text-align: center;
    font-size: smaller;
}

span a{
    font-size: small;
}
