.write {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .title {
        border: 1px solid lightgrey;
        margin-bottom: 10px;
    }

    .content {
        flex: 5;
        margin-left: 180px;
    }

    .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            border: 1px solid lightgrey;
            margin-top: 48px;
            width: 300px
        }
        
    }
   
    .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgrey;
        margin-bottom: 39px;

        .editor {
            height: 85%;
            border: none;
        }
    }
}