
.footer {
    background-color: salmon;
}

.footerLogo {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: rgb(145, 3, 31);
}

.ftlinks {
    color: rgb(133, 10, 34);
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem;
    color: crimson;
}

.footerSocials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footerSocials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footerSocials a:hover {
    background: white;
    color: black;
}

.footerCopyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
    display: flex;
    justify-content: center;
}