.navbar{
    padding: 10px 0px;
    display: flex;
    width: 720px;
    justify-content: center;
}

.links{
    position: relative;
    left: 800px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.writebtn {
    background-color: salmon;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.5px salmon;
}

.writebtn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    
    transition: var(--transition);
}
