.write {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .title {
        border: 1px solid lightgrey;
        margin-bottom: 10px;
    }

    .content {
        flex: 5;
        margin-left: 180px;
    }

    .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            padding: 5px;
            border: 1px solid lightgrey;
            margin-top: 48px;
            width: 300px
        }
        
    }

    .item > h1 {
        color: black
    }
   
    .editorContainer {
        height: 300px;
        overflow: scroll;
        border: 1px solid lightgrey;
        margin-bottom: 39px;

        .editor {
            height: 85%;
            border: none;
        }
    }

    .file {
        text-decoration: underline;
        cursor: pointer;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        :first-child {
            cursor: pointer;
            color: crimson;
            background-color: white;
            border: 1px solid crimson;
        }
    }

    .cat {
        display: flex;
        align-items: center;
        color: crimson;
    }
}